<!-- templates/pagination.html -->
<ul class="pagination">
    {% for page in range(1, total_pages + 1) %}
        <li>
            <button
                type="button"
                class="btn {% if page == current_page %}active{% else %}inactive{% endif %}"
                onclick="goToPage1({{page}})">
                {{ page }}
            </button>
        </li>
    {% endfor %}
</ul>
<script>
    function  getInput(name,value){
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = name; // 设置第一个参数名
        input.value = value; // 设置第一个参数值
        return input
    }

    function goToPage1(page) {
           const current_page =page
            const statusSelect = document.getElementById('statusSelect').value;
            const form = document.createElement('form');  // 创建一个表单元素
            form.method = 'POST'; // 设置表单方法为 POST
            form.action = 'search_issue'; // 设置表单提交的 URL
            form.appendChild(getInput("current_page",current_page));  // 将 input 添加到表单中
            form.appendChild(getInput("statusSelect",statusSelect));  // 将 input 添加到表单中
            document.body.appendChild(form);    // 将表单添加到文档中（需要添加到 body 或其他容器）
            form.submit();   // 提交表单
    }



</script>

<style>
    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .pagination li {
        margin: 0 5px;
    }

    .pagination button {
        text-decoration: none;
        padding: 10px;
        color: blue; /* 默认文字颜色 */
        border: 1px solid blue; /* 默认边框 */
        border-radius: 5px;
        background-color: white; /* 默认背景颜色 */
        cursor: pointer; /* 鼠标指针 */
        transition: background-color 0.3s ease; /* 鼠标悬停效果 */
    }

    .pagination button.active {
        background-color: red; /* 当前页的背景颜色 */
        color: white; /* 当前页的文字颜色 */
    }

    .pagination button:hover {
        background-color: #f0f0f0; /* 悬停时的背景颜色 */
    }
</style>
