<!-- templates/pagination.html -->
<ul class="pagination">
<!--    {{view_function}}-->
    {% for page in range(1, total_pages + 1) %}
        <li>
            <a href="{{ url_for(view_function, current_page=page) }}" class="{% if page == current_page %}active{% endif %}">
                {{ page }}
            </a>
        </li>
    {% endfor %}
</ul>


<style>
    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
    }
    .pagination li {
        margin: 0 5px;
    }
    .pagination a {
        text-decoration: none;
        padding: 10px;
        color: blue; /* 默认颜色 */
        border: 1px solid blue; /* 默认边框 */
        border-radius: 5px;
    }
    .pagination a.active {
        background-color: red; /* 当前页的背景颜色 */
        color: white; /* 当前页的文字颜色 */
    }
</style>
